/* CSS file for events section */

.events {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.events h3 {
  text-align: right;
  margin-left: 20%;
  font-size: 2rem;
  width: 50%;
  border-bottom: 5px solid var(--dark-blue);
}

.eventList {
  margin: 50px 20% 0 0;
}
