/* CSS file for sponsors page */

.sponsors {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sponsors h3 {
  font-size: 2rem;
  width: 40%;
  border-bottom: 5px solid var(--light-blue);
}

.sponsorsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.sponsorsObject {
  transform: rotate(200deg);
  left: 0;
  height: 1000px;
}
