/* CSS file for news section */

.news {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news h3 {
  position: absolute;
  top: 20%;
  right: 10%;
  text-align: right;
  font-size: 2rem;
  width: 40%;
  margin-bottom: 20px;
}

/* Background Object */
.newsObject {
  transform: rotate(90deg);
  width: 21%;
  height: 900px;
}

@media (max-width: 1000px) {
  .news {
    position: relative;
    display: block;
    /* height: fit-content; */
    align-items: center;
    overflow-y: scroll;
  }

  .news h3 {
    top: 15%;
    width: 80%;
    border-bottom: 3px solid var(--dark-blue);
  }

  .newsList {
    margin-top: 180px;
    margin-bottom: 100px;
  }

  .newsObject {
    display: none;
  }
}
