/* CSS file for news section */

.news {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news h3 {
  position: absolute;
  top: 20%;
  right: 10%;
  text-align: right;
  font-size: 2rem;
  width: 40%;
  margin-bottom: 20px;
}

/* Background Object */
.newsObject {
  transform: rotate(90deg);
  width: 21%;
  height: 900px;
}

@media (max-width: 1000px) {
  .news {
    height: fit-content;
    align-items: center;
  }

  .news h3 {
    position: relative;
    margin-top: 100px;
    /* margin-left: 30%; */
    width: 80%;
    border-bottom: 3px solid var(--dark-blue);
  }

  .newsArticle {
    padding: 0;
  }

  .newsObject {
    display: none;
  }
}
