/* CSS file for Homepage */

.homepage {
  min-height: 80vh;
}

/* Header */
.homepageHeader h1 {
  width: 50%;
  border-bottom: 7px solid var(--dark-blue);
}

/* About */
.aboutDesc {
  width: 60%;
}
