/* CSS file for events container */

.eventsContainer {
  width: 400px;
  margin: 10px 0;
}

.eventsContainer h6 {
  font-size: 1.5rem;
  border-bottom: 2px solid var(--light-blue);
  width: 50%;
}

.eventDate {
  margin-bottom: 10px;
  font-style: italic;
}

.eventLocation {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .eventsContainer {
    width: 100%;
    margin-left: 30px;
  }

  .eventsContainer h6 {
    width: 70%;
  }
}
