/* CSS file for events section */

.getInvolved {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.getInvolved h2 {
  text-align: right;
  margin-left: 20%;
  margin-bottom: 30px;
  font-size: 2rem;
  width: 50%;
  border-bottom: 5px solid var(--dark-blue);
}

.getInvolved h3 {
  font-size: 26px;
  color: var(--dark-blue);
  text-decoration: underline;
  margin-bottom: 20px;
}

.getInvolved h4 {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

.getInvolvedVolunteer,
.getInvolvedSponsor {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
}

.listsContainer {
  display: flex;
}

.teamsContainer {
  margin-left: 50px;
}

.getInvolved a {
  border: 1px solid var(--light-blue);
  padding: 10px 30px;
}

/* Background Object */
.getInvolvedObject {
  top: -25px;
  left: 0;
  transform: rotate(-60deg);
}

@media (max-width: 1000px) {
  .getInvolved h2 {
    width: 70%;
  }
  .getInvolvedVolunteer,
  .getInvolvedSponsor {
    width: auto;
    align-items: center;
  }

  .getInvolvedSponsor {
    margin-left: 15%;
  }

  .eventsObject {
    height: 1000px;
  }
}
