/* CSS file for teams display */
.teamsDisplay {
  /* height: 100vh; */
  position: relative;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
