/* CSS file for teams display */
.teamsDisplay {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.teamAndElementSelect {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%;
  right: 0;
}

.teamAndElementSelect label {
  font-size: 22px;
}

.teamAndElementSelect select {
  border: none;
  background-color: var(--dark-blue);
  color: white;
  padding: 5px 10px;
  width: 200px;
  text-align: center;
}

/* .teamAndElementSelect select-options {
  border-radius: 0;
} */

.displayResults {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

/* Buttons */
.teamDisplayButtons > button {
  margin: 10px;
  width: 100px;
  border: 2px solid var(--dark-blue);
  border-radius: 20px;
  padding: 5px 10px;
  font-family: "Oswald", sans-serif;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
}

.teamDisplayButtons > button:hover {
  border-color: var(--light-blue);
}

.teamDisplayButtons > button:active {
  transform: scale(0.97);
}
