/* CSS file for news article */

.newsArticle {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

/* Alternate layout */
.newsSwitch {
  justify-content: flex-end;
  .newsInfo {
    text-align: left;
  }
}

.newsInfo {
  text-align: right;
}

.newsImg img {
  border-radius: 10px;
  margin: 10px;
}

.newsDesc {
  width: 300px;
}

@media (max-width: 1000px) {
  .newsArticle {
    flex-direction: column;
    justify-content: center;
  }

  .newsInfo {
    text-align: left;
  }
}
