/* CSS file for news article */

.newsArticle {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

.newsInfo {
  text-align: right;
}

.newsImg img {
  border-radius: 10px;
  margin: 10px;
}

.newsDate {
  margin: 5px 0;
}

.newsDesc {
  width: 300px;
}

@media (max-width: 1000px) {
  .newsArticle {
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    margin: 0;
  }

  .newsInfo {
    text-align: left;
  }
}
