/* CSS file for events section */

.events {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.events h3 {
  text-align: right;
  margin-left: 20%;
  font-size: 2rem;
  width: 50%;
  border-bottom: 5px solid var(--dark-blue);
}

.eventsSubHeader {
  width: 70%;
  text-align: right;
  font-size: large;
}

.eventList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

/* Background Object */
.eventsObject {
  left: 0;
  transform: rotate(-60deg);
}

@media (max-width: 1000px) {
  .events {
    width: auto;
    height: fit-content;
  }

  .events h3 {
    font-size: 1.5rem;
    margin-top: 100px;
    width: auto;
  }

  .eventsSubHeader {
    width: fit-content;
    margin-bottom: 20px;
  }

  .eventList {
    display: flex;
    flex-direction: column;
  }

  .eventsObject {
    height: 400px;
  }
}
