/* CSS file for teams */

.active {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}

/* Table */
.table h3 {
  margin-bottom: 10px;
}

/* Results/Fixtures */

.resultsCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  border: 5px solid var(--light-blue);
  height: 220px;
  width: 500px;
}

.resultFixtures {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  font-style: italic;
}

.teamNames {
  text-align: center;
  width: 150px;
}

.vs {
  border: 5px solid var(--light-blue);
  border-radius: 50%;
  width: 60px;
  color: var(--yellow);
  text-align: center;
  padding: 10px;
  font-style: normal;
  background-color: var(--dark-blue);
}

.vs::before {
  content: "";
  position: absolute;
  height: 215px;
  width: 5px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
  background-color: var(--light-blue);
}

.fixture {
  font-weight: 400;
}

.backgroundImage {
  position: fixed;
  width: 500px;
  height: 220px;
  z-index: -10;
  opacity: 0.2;
}
